body {
    background-color: chartreuse;
  }
  
  @media only screen and (max-width: 720px) {
    body {
      background-color: rgb(73, 170, 202);
    }
  }

  @media only screen and (max-width: 320px) {
    body {
      background-color: rgb(73, 170, 202);
    }
    html {
        font-size: 1em;
    }
  }

  @keyframes example {
    from {font-size:10px;}
    to {font-size:20px;}
  }

  div {
    width: 20px;
    height:auto;
    animation-name: example;
    animation-duration: 5s;
  }