* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .float-right {
    float: right;
  }

  @media (max-width: 420px) {
    .kuva img{
        float: right;
        width: 100%;
        height: auto;
    }
    .float-right {
      width: 100%;
      float: none;
    }
}
 .kuva{
    background-color: aqua;
    float: right;
}